<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row *ngIf= "homeContent">
      <ion-col size="12">
        <ion-slides class= "slide-dimen" pager="true" [options]="bannerOpts" #slideBanner>
          <ion-slide *ngFor= "let item of homeContent.banners.homepage_banners">
            <img class="img-responsive" src= {{item.url}}>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
